* {
    margin: 0;
    padding: 0;
}

body {
    background: #d2e3ed;
}
.wrapper {
    width: 100%;
    min-height: 960px;
    .align {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 80px 0;
    }

    /* To-Do List App */
    .app {
        width: 375px;
        min-height: 200px;
        margin: 0 auto;

        border-radius: 22px;
        background: #fff;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
        letter-spacing: -1px;

        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);

        -webkit-backface-visibility: hidden;

        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;

        .info {
            position: relative;
            height: 50px;
            width: auto;

            border-top-left-radius: 22px;
            border-top-right-radius: 22px;
            //linear-gradient(135deg, rgba(15,184,173,.75) -10%, rgba(44,181,232,.75) 130%)
            background: linear-gradient(
                    135deg,
                    rgba(158, 15, 184, 0.7) -10%,
                    rgba(5, 232, 255, 0.8) 180%
                ),
                url("https://static.vecteezy.com/system/resources/previews/000/101/253/non_2x/vector-free-abstract-background-1.jpg");
            background-size: cover;

            .info-bottom {
                position: relative;
                height: 50px;
                width: 85%;
                margin: 40px auto 0 auto;
                text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
                .left {
                    float: left;
                }
                .right {
                    float: right;
                }
                .middle {
                    position: absolute;
                    width: 140px;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                }
            }
        }
    }

    .inbox {
        max-width: inherit;
        margin: auto auto;
        background: white;
        border-radius: 5px;
    }

    .item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #f1f1f1;
    }

    .item:last-child {
        border-bottom: 0;
    }

    input:checked + p {
        background: #f9f9f9;
        text-decoration: line-through;
    }

    input[type="checkbox"] {
        margin: 20px;
    }

    .text {
        margin: 0;
        padding: 20px;
        transition: background 0.2s;
        flex: 1;
        font-family: "helvetica neue";
        font-size: 20px;
        font-weight: 200;
        border-left: 1px solid #d1e2ff;
    }

    .dustbin {
        margin-right: 5px;

        &:hover {
            color: red;
            background-color: red;
            cursor: pointer;
        }
    }
}
