* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  
  html {
    /* font-size: 32px; */
    font-family: "Poppins", sans-serif;
    color: #ffffff;
  }
  
  /* body {
    max-width: 1232px;
    margin: 0 auto;
    padding: 0 32px;
    background-color: #002f6c;
    border: solid white;
    border-width: thin;
    overflow:hidden;
    display:block;
  } */

.App {
  /* text-align: center; */
  /* width: 50vw; */
}

body {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.todoList {
    margin-top: 40px;
    justify-content: left;
}
